@using RazorSharedLib.Shared.FormComponents.Enums

<TitleField HeadingSize="HeadingType.H1">Combat area</TitleField>
<FlexRowEqualWidth>
    <Left><p>hej</p></Left>
    <Middle></Middle>
    <Right><p>hejdå</p></Right>
</FlexRowEqualWidth>

@code {

}