@inject MtGCard_Service.MtGCommanderService _commanderService
@inject MtGCard_Service.MtGCardBufferService _buffer
@if (Show)
{
    <input type="text" @bind="SearchText" />
    <button @onclick="SearchForCard">Search for a card</button>
    <InfoCard @ref ="_ref" onSaveCard="AddCommanderCardToPlayer"
              card="_commanderService.GetClickedCard()"
              PlayerList="_commanderService.GetPlayerList()" />
    <CardPager Jump="5" onClickedCard="ShowCard" _rep="_buffer" SearchText="@SearchText" />
}

@code {
    public bool Show { get; set; } = true;
    public string SearchText { get; set; }
    public InfoCard _ref;
    public async Task SearchForCard()
    {
        await _commanderService.SearchForCard(SearchText);
    }

    public void ShowCard(string cardId)
    {
        _commanderService.SetClickedCard(cardId);
    } 

    public async Task AddCommanderCardToPlayer(int playerId)
    {
        if (_ref != null)
        {
            _commanderService.SetCommanderForPlayer(playerId, _ref.card.Id);
            Show = false;
        }
    }
}
