@page "/"
@inject MtGCard_Service.MtGCommanderService CommanderService
@inject IJSRuntime JSRuntime
<PageTitle>Index</PageTitle>
<h1>Cardgame companion app</h1>
@if (CommanderService.GetPlayerList().Count > 0 || ShowNew)
{
    <button @onclick="MakeNewGame">New Game settings</button>
    <p style="color: red">You will erase everything if you make new settings.</p>    
}
else
{
    <div>
        <input type="number" @bind="NumOfPlayers" min="2" max="5" />
        <h2>Player names</h2>
        @foreach (var i in Enumerable.Range(0, NumOfPlayers))
        {
            <br />
            <input type="text" @bind="Name[i]" placeholder="Player @(i+1)" />
        }
        <br />
        <button @onclick="Save">New Game</button>
    </div>
}
@code {
    private int numOfPlayers = 2;
    public bool ShowNew { get; set; } = false;
    public string[] Name { get; set; } = new string[6];

    public int NumOfPlayers
    {
        get
        {
            return numOfPlayers;
        }
        set
        {
            if (value > 1 && 5 >= value)
                numOfPlayers = value;
            else
                numOfPlayers = 2;
        }
    }
    public void Save()
    {
        List<string> list = new List<string>();
        for (int i = 0; i < NumOfPlayers; i++)
        {
            if (Name[i] == null)
                Name[i] = "Player " + (i + 1);
            list.Add(Name[i]);
        }
        CommanderService.CreatePlayers(NumOfPlayers, list);
    }

    public void MakeNewGame() => ShowNew = false;
}