@layout MagicBasicLayout
@page "/MagicBasic"
<PageTitle>Magic the Gathering</PageTitle>
<h1>Magic the Gathering</h1>
<p>Testa på Quiz, bygg en lek eller bara sök efter kort.</p>
<p>Testversion - Mer saker kommer i framtiden</p>

@code {

}
