@layout MagicBasicLayout
<h3>ScoreBoard</h3>
<p>Score: @Score</p>
@code {
    [Parameter]
    public int Score { get; set; } = 0;

    protected override async Task OnParametersSetAsync()
    {
        StateHasChanged();
    }
}
