<h3>ScoreBoard</h3>
<p>Score: @Score</p>
@code {
    private int Score { get; set; } = 0;

    public void Reset()
    {
        Score = 0;
        StateHasChanged();
    }

    public void Add()
    {
        Score++;
        StateHasChanged();
    }
}
