@using RazorSharedLib.States.GameAdventure
@using RazorSharedLib.Interface
@using RazorSharedLib.Shared.FormComponents.Enums

<VisibilityToggleArea Show="@ShowGameWindow">
    <CenteredDiv ImageFormat="ImageFormat.PNG" BackgroundImageName="@GameState!.BookTitle.Replace(" ", "")">
        <Header>
            <TitleField HeadingSize="HeadingType.H1">@GameState.BookTitle</TitleField>
            <RowDiv>
                <FormButton Title="Settings" Click="ToggleSettingsWindow"/>
                <FormButton Title="Roll Character" Click="ReRollCharacter"/>
            </RowDiv>

        </Header>

        <Body>
        <FormTextField Title="Player name" @bind-Value="@GameState!.CharacterSheet.Name"/>
        <FormNumberField Title="Gold pieces" @bind-Value="@GameState!.CharacterSheet.GoldPieces"/>

        <RowDiv>
            <FormNumberField Title="Skill" @bind-Value="@GameState!.CharacterSheet.Skill"/>
            <FormNumberField Title="Skill Modifier" @bind-Value="@GameState!.CharacterSheet.SkillModifier"/>
        </RowDiv>

        <RowDiv>
            <FormNumberField Title="Stamina" @bind-Value="@GameState!.CharacterSheet.Stamina"/>
            <FormNumberField Title="Stamina Modifier" @bind-Value="@GameState!.CharacterSheet.StaminaModifier"/>
        </RowDiv>

        <RowDiv>
            <FormNumberField Title="Luck" @bind-Value="@GameState!.CharacterSheet.Luck"/>
            <FormNumberField Title="Luck Modifier" @bind-Value="@GameState!.CharacterSheet.LuckModifier"/>
        </RowDiv>
        <FormTextBox Title="Notes" @bind-Value="@GameState!.CharacterSheet.Notes"/>
        </Body>

        <Footer>
            <p style="background-color:#f4f4f4; padding: 10px;">Powered by FormComponents</p>
        </Footer>
    </CenteredDiv>
</VisibilityToggleArea>

<VisibilityToggleArea Show="@ShowSettings">
    <CenteredDiv BackgroundImageName="BattleAreaBackground" ImageFormat="ImageFormat.PNG">
        <Header>
            <TitleField HeadingSize="HeadingType.H1">Settings</TitleField>
            <FormButton Title="Exit settings" Click="ToggleSettingsWindow"/>

        </Header>
        <Body>
        <RowDiv>

        </RowDiv>
        </Body>
        <Footer></Footer>
    </CenteredDiv>
</VisibilityToggleArea>

@code {

    [Parameter] public IGameAdventureState? GameState { get; set; }
    [Inject] public IGameAdventureService? Service { get; set; }

    private bool ShowGameWindow { get; set; }
    private bool ShowSettings { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ShowGameWindow = true;
    }

    private void ReRollCharacter()
    {
        Service!.RollNewCharacter(GameState!.BookTitle);
    }

    private void ToggleSettingsWindow()
    {
        ShowSettings = !ShowSettings;
        ShowGameWindow = !ShowSettings;
    }

}