@page "/Magic/Commander/V2"
@inject MtGCard_Service.MtGCommanderService _commanderService
@inject IJSRuntime JS
<h1>Commander V2</h1>
<input type="text" @bind="SearchText" />
<button @onclick="SearchForCard">Search for a card</button>
<button @onclick="Top10">Show Top 10 Cards</button>
<InfoCard 
    onSaveCard="AddCardToPlayer" 
    card="_commanderService.GetClickedCard()" 
    PlayerList="_commanderService.GetPlayerList()" />
<ShowSearchResult onShowCard="ShowCard"
                  show="ShowClickedCardResult"
                  List="_commanderService.GetTop10ClickedCards()" />
<ShowSearchResult 
    onShowCard="ShowCard" 
    List="_commanderService.GetSearchResult()" />
<ShowPlayerCards 
    onDeleteCard="DeleteCard" 
    PlayerList="_commanderService.GetPlayerListWithCardList()" />