@using Application.MtGCard_Service.Interface;
@using Domain.MtGDomain.DTO;
@using MtGCard_Service.DTO;
@using MtGDomain.DTO;
@inject IMtGCardRepository Repo

<h3>Search for a card</h3>

<input type="text" @bind-value="Text" /> <br />
<SearchFilter Model="@TypeFilterModel" />
<button @onclick="SearchCards">Search</button>

@code {
    [Parameter]
    public EventCallback<MtGSearchResultRecord> EventCallback { get; set; }
    public string Text { get; set; }

    private MtGTypeFilter TypeFilterModel { get; set; } = new();

    public async void SearchCards()
    {
        var filter = new MtGSearchFilter() { Types = TypeFilterModel };
        var result = await Repo.GetCardsByName(Text, filter);
        var toParent = new MtGSearchResultRecord(result, Text);
        await EventCallback.InvokeAsync(toParent);
    }
}
