@layout MagicBasicLayout
@page "/MagicBasic/CardSearch"
@using Application.MtGCard_Service.Interface;
@using MtGDomain.DTO;
@inject IMtGCardRepository Repo

<h1>Card Search</h1>
<p>Looking up cards</p>
<MagicCardSearch EventCallback="SearchResult" />

@code {
    private void SearchResult(MtGSearchResultRecord result)
    {
        
    }
}