@layout MagicBasicLayout
@page "/MagicBasic/CardSearch"
@using MtGDomain.DTO;
<h1>Card Search</h1>
<p>Looking up cards</p>
<MagicCardSearch EventCallback="SearchResult" />

@code {
    private void SearchResult(MtGSearchResultRecord result)
    {

    }
}