@layout MagicBasicLayout
@page "/MagicBasic/Quiz"
<h1>Quiz</h1>
<p>
    Se en bild och välj om arten kommer från ett create card,
    enchantment, instant, sorcery, artefact, land etc etc
</p>
@code {

}
