@layout MagicBasicLayout
@page "/MagicBasic/Quiz"
@using Application.MtGCard_Service.Interface;
@using Domain.MtGDomain.DTO
@inject IMtGCardRepository Repo

<h1>Quiz</h1>
<p>
    Se en bild och välj om arten kommer från ett create card,
    enchantment, instant, sorcery, artefact, land etc etc
</p>
@if (GameStart is false)
{
    <button id="startquiz" @onclick="StartQuiz">Starta Quizet</button>
}
else
{
    <p>Quiz time</p>
}

@code {
    public bool GameStart { get; set; } = false;
    public List<MtGCardRecordDTO> List { get; set; }
    public List<MtGSetRecordDTO> Sets  { get; set; }

    private async void StartQuiz()
    {
        GameStart = true;
        Sets = await Repo.GetAllSets();
        List = await Repo.GetRandomCardsFromApi(Sets.First().SetCode);
        
        StateHasChanged();
    }
}
