@using MtGDomain.DTO

@if (Result is not null)
{
    <h3>ShowResult</h3>
    @if (Result.Correct)
    {
        <p>Du hade rätt</p>
        <img src="@Result?.ImageUrl" alt="magiccard"/>
    }
    else
    {
        <p>Du hade tyvärr fel</p>
        <img src="@Result?.ImageUrl" alt="magiccard"/>
    }
}

@code {
    [Parameter] public ResultRecord? Result { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

}