@using RazorSharedLib.Shared.FormComponents.Enums
@using MtGDomain.Extensions
<div class="centered-container" style="background-image: url('_content/RazorSharedLib/images/@backgroundImageUrl');">
    @if (Header is not null)
    {
        <div class="child-header">
            @Header
        </div>
    }

    @if (Body is not null)
    {
        <div class="child-body">
            @Body
        </div>
    }
</div>

@code {
    [Parameter] public string? BackgroundImageName { get; set; }
    [Parameter] public ImageFormat? ImageFormat { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }

    private string backgroundImageUrl = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (BackgroundImageName is not null && ImageFormat is not null)
        {
            backgroundImageUrl = BackgroundImageName + ImageFormat.GetDescription();
        }
    }

}
